body{
    background-color: #111;
}
.formPage_header{
    margin-top: 5mm;
}
.formPage_header h1{
    text-align: center;
    color: white;
}

.form{
    margin-top: 20mm ;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid red;
}
.form_content{

    color: white;
    margin-top: 5mm;
    margin-bottom: 5mm;
    margin-left: 10mm;
    
}